# Azure logging configuration
# Valid values: "verbose", "info", "warning", "error"
AZURE_LOG_LEVEL=info

# Azure Storage Account Configuration
# Replace with your actual storage account name
AZURE_STORAGE_ACCOUNT_NAME=your_storage_account_name

# Environment variable to control which credentials DefaultAzureCredential will use
# Values include: "dev", "prod", or a specific credential name (e.g., "ManagedIdentityCredential")

AZURE_TOKEN_CREDENTIALS=dev